@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #5c2a75cc;
  color: #e0c3fc;
}

::-moz-selection {
  background-color: #5c2a75cc;
  color: #e0c3fc;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-color: #444 transparent;
}
