:root {
  --background: #151515;
  --foreground: #d5d5da;
  --primary: #0e2165;
  --secondary: #1e293b;
  --accent: #5f89bd;
  --border-line: #5a5a5a;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;
}
