@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "@heroui/styles";

@import "./themes/index.css";

* {
  font-family: "Cherry Bomb One", cursive;
}

html,
body {
  min-height: 100vh;
}

body {
  background: var(--background);
  color: var(--foreground);

  transition:
    background-color 200ms ease,
    color 200ms ease;
}


/*
|--------------------------------------------------------------------------
| Navigation View Transition
|--------------------------------------------------------------------------
*/

@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: page-left 500ms cubic-bezier(.32,.72,0,1);
}

::view-transition-new(root) {
  animation: page-right 500ms cubic-bezier(.32,.72,0,1);
}

@keyframes page-left {
  from {
    transform: translateX(0) scale(1);
  }

  to {
    transform: translateX(-25%) scale(.94);
  }
}

@keyframes page-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}